
<footer style="background-color: whitesmoke;position: fixed; left: 0; bottom: 0;width: 100%;text-align: right;border: 3px solid grey; border-right: none; border-left: none; border-bottom: none;">
  <p style="padding:0.5em 0.5em 0 0 ;">@2022 TicketMaster COMP229-004 Group 4</p>    
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/clientscript.js"></script>

</body>
</html>