<!--
File Name - home.ejs
Student Name - Ronak Barochia
Student ID - 301239977
-->


<% if (title == "Home") { %>
  <div class="img" style="text-align: center;">
    <div class="jumbotron">
      <h1 style="margin-top: 1.5em;"><%= title %></h1>
      <p>Web application to create concert tickets!</p>
      <img src="/images/indeximg.jpg" alt="logo" style="width:50%; margin-bottom: 50px;">
      <div>
      
        <button   type="button" style="border-width: 5px; width:200px;" class="btn btn-dark button" onclick="location.href='/about'">Click Me</button>

      </div>  
    </div>
  </div>
    <%} else { %>
      
    <% } %>